<div class="lands-container" style="position:relative;padding:30px;">
    <button style="position:absolute;left:30px;top:0;cursor:pointer;" id="updateOwnLandsButtonID"><span class="fa fa-refresh"></span> Refresh Properties</button>
    <div class="w3-row ownLandsPanel">
        
    </div>
</div>