    <div class="lands-container" style="position:relative;padding:30px;">
        <button style="position:absolute;left:50px;top:0;cursor:pointer;background-color:transparent" id="updateLandsButtonID"><span class="fa fa-refresh"></span> Refresh Properties</button>
        <div class="w3-row landsPanel">
            
        </div>
    </div>