<br>
<div style="padding:0px 300px;">
    <div class="flex" style="display:flex;width:600px;margin-top:80px;align-items: center;">
      <div style="flex:1;width:200px;">
        <label> <b>Location :</b> </label>
      </div>
      <div style="width:500px;">
        <input type="text" id="newLocationID" class="w3-input">
      </div>
    </div><br><br>
    <div class="flex" style="display:flex;width:600px;align-items: center;">
      <div style="flex:1;width:200px;">
        <label> <b>Cost :</b> </label>
      </div>
      <div style="width:500px;">
        <input type="number" id="newCostID" class="w3-input">
      </div>
    </div><br><br>
    <div class="flex" style="display:flex;width:600px;align-items: center;">
      <div style="flex:1;width:200px;">
        <label> <b>Property Owner :</b> </label>
      </div>
      <div style="width:500px;">
        <input type="text" id="propertyowner" class="w3-input">
      </div>
    </div><br><br>
    <button id='addLandButtonID' class="w3-btn w3-input w3-card" style="background-color:#09f;border:none;width:600px;color:#fff;" type="button">Add Land</button>
    <small>&nbsp;&nbsp;Allowed only for Contract Owner</small>
</div>
<br>        
 